<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Backbone.js Tutorial</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  
  <!-- external template -->
  <script id="dogTemplate" type="text/template">
    <%= name %> is <%= color %> and says <%= sound %>
    <button class="edit">Edit</button>
    <button class="delete">Delete</button>
  </script>

  <!-- must be called after the script template, otherwise you'll get an error -->
  <script src="js/namespaced-application.js"></script>

</body>
</html>